<a href="https://colab.research.google.com/github/aibelleonardo/CpE0332.1-1-1-Elective-3/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Loop Statement

In [ ]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

Break Statement

In [ ]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for x in week:
  print(x)

  if x == "Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

Looping through String

In [ ]:
for x in "week":
  print(x)

w
e
e
k

Application 3

In [ ]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for x in week:
  if x == "Thursday":
    print(x)

Thursday

range() Function

In [ ]:
for x in range(6):
  print(x)

print("\n")

for x in range(2, 6):
  print(x)

0
1
2
3
4
5


2
3
4
5

Nested Loops

In [ ]:
adjective = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adjective:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

While Loop

In [ ]:
i = 1

while i < 6:
  print(i)
  i += 1

1
2
3
4
5

While Loop Break Statement

In [ ]:
i = 1

while i < 6:
  print(i)

  if i == 3:
    break

  i += 1

1
2
3

Continue Statement

In [ ]:
i = 0

while i < 6:
  i += 1

  if i == 3:
    continue

  print(i)

1
2
4
5
6

Else Statement

In [ ]:
i = 1

while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

Application 4

In [ ]:
for i in range(11):
  print("Hello ", i)

Hello  0
Hello  1
Hello  2
Hello  3
Hello  4
Hello  5
Hello  6
Hello  7
Hello  8
Hello  9
Hello  10

Application 5

In [ ]:
for i in range(1, 11):
  if i < 3:
    continue

  if i < 10:
    print(i)

3
4
5
6
7
8
9