<a href="https://colab.research.google.com/github/aibelleonardo/CpE0332.1-1-1-Elective-3/blob/main/Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Indentation

In [1]:
y = 2
x = 5
if x > y:
  print ("Five is greater than Two!")

Five is greater than Two!

Python Comment

In [2]:
print("Hello World!")
#This is how to comment on python

Hello World!

Python Variable

In [3]:
z = 1
x = 2
y = 3
z, x, y = 1, 2, 3
print (z, x, y)
print (z + x, y)
print (z, x - y)

1 2 3
3 3
1 -1

Casting

In [14]:
b = "Leonardo" #This is a string
b = float(4)
print (b)

4.0

Type () Function

In [5]:
print(type(b))

<class 'float'>

Double Quote and Single Quote

In [6]:
W = "Ana"
print (W)
Q = 'Ana'
print (Q)

Ana
Ana

Case Sensitive

In [7]:
A = "Sally"
a = 4
print (A, a)
print (A + str(4))

Sally 4
Sally4

Multiple Variables

In [8]:
h, i, j = 'one', 'two', 'three'
print(h)
print(i)
print(j)

one
two
three

Multiple Variables with Single Value

In [9]:
k = l = m = "four"
print(k)
print(l)
print(m)

four
four
four

Output Variable and Concatenation +

In [12]:
n = "enjoying"
p = "Python programming is "

print(p + n)

Python programming is enjoying

Arithmetic Operations

In [15]:
print(x + y) #Addition
print(x - y) #Subtraction
print(x * y) #Multiplication
print(round(5 / 3), 2) #Division
print(x // y) #Floor Division
print(x % y) #Modulo
print(x ** y) #Exponentation

5
-1
6
2 2
0
2
8

Assignment Operator

In [16]:
x += 3 #same as x = x + 3

print(x)

5

Comparison Operator

In [20]:
print(x == y) #x = 3, y = 2
print(x != y)
print(x > y)
print(x < y)

False
True
True
False

Logical Operator

In [22]:
print(x == y and x != y) #False and True
print(x == y or x != y) #False or True
print(not(x == y or x != y)) #negate (False or True)

False
True
False

Identity Operators

In [23]:
x is y #x = 3, y = 2
x is not y

True

Bitwise Operators

In [26]:
#10 + 1 = 11    ; 1010 + 0001 = 1011
print(10 | 1)

print(x >> 1) #x - 3, 011

11
2

Application 1

In [29]:
#Create a Python program that displays your Fullname, Age, Course and Section

age = 21
course = "Computer Engineering"
section = "CpE0322.1-1"
print("I am Aibel Renzo Tiongson Leonardo. I am", age, "years old.")
print("I am in", course, "under the section of", section)

I am Aibel Renzo Tiongson Leonardo. I am 21 years old.
I am in Computer Engineering under the section of CpE0322-1